@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Logo color: #08F */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #262626;
    font-size: 15px;
    line-height: 1.5;
}

a{
    color:#262626;
    text-decoration: none;
}

ul{
    list-style: none;
}
.logo{
    position: relative;
    top: 10px;
   width: 110px;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Navigation */
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:20px ;
    font-size: 13px;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #3C654D;
}

.main-nav .main-menu{
    flex: 1;
    margin-left:20px;
}
.menu-btn{
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #3C654D;
    color: #F1F1F1;
    font-size: 15px;
}

.btn:hover{
    background: #F1F1F1;
    color:#3C654D;
    opacity: 0.9;
}

/* Showcase */
.showcase{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-image: url("/Images/coffee-hero.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    color: #fff;
    font-weight: 800;
}

.showcase h2{
    text-transform: uppercase;
}

.showcase h2, .showcase p{
    margin-bottom: 10px;
}

.showcase .btn{
    margin-top: 20px;
}

/* Home Cards */
.card1-heading{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #BA895C;
}

.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top:20px;
    margin-bottom: 40px;

}

.home-cards img{
    width: 100%;
}

.home-cards h3{
    margin-bottom: 5px;
}

.home-cards a{
    display: inline-block;
    padding-top: 10px;
    color:#BA895C;
}

.home-cards a:hover i{
    margin-left: 2px;
}

/* Luxury Candles */
.lux-candle{
    height: 350px;
    width: 100%;
    background: url("/Images/friends.jpeg") no-repeat center center/cover;
    margin-bottom: 20px;
}
.lux-candle .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 170px 0 0 0px;
    color: #FFF;
}

.lux-candle p{
    margin: 10px 0 20px;
}

/* Sale Section */
.sale{
    height:350px;
    width: 100%;
    background: url("/Images/machines.jpeg") no-repeat bottom center/cover;
}
.sale .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 170px 0 0 30px;
    color: #fff;
}

.sale p{
    margin: 10px 0 20px;
}
.sale-btn{
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: #262626;
    font-size: 15px;
}
.sale .sale-btn:hover{
    background-color: #262626;
    color: #F1F1F1;
}

/* Footer */
.links{
    margin-top: 40px;
    background: #f2f2f2;
    color: #262626;
    font-size: 12px;
    padding: 35px 0;
}
.links-inner{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    align-items: flex-start;
    justify-content: center;
}
.links li{
    line-height: 2;
}
.footer-inner{
    background: #f2f2f2;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inner ul{
    display: flex;
    flex-wrap: wrap;
}

.links li{
    margin-right: 30px;
    margin-bottom: 20px;
}

/* .contact-form{
    display: flex;
    flex-direction: column;

} */

/* Media Queries */
/* Max-width 775px */
@media(max-width:775px){
    .lux-candle p{
        margin-left: 20px;
    }
}
/* Max-width 700px */
@media(max-width:700px){
    .menu-btn{
        display: block;
    }

    .menu-btn:hover{
        opacity: 0.5;
    }

    .main-nav ul.menu-right{
        margin-right: 50px;
    }

    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;       
        border-right:#ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child{
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show{
        transform: translateX(-20px);
    }

    .home-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .lux-candle .content p, .sale .content p{
        display: none;
    }
    .lux-candle .content h2, .sale .content h2{
        margin-bottom: 20px;
    }
    .lux-candle .content h2{
        margin-left: 10px;
    }
    .lux-candle .content .btn-lux{
        margin-left: 10px;
    }
    .links .links-inner{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Max-width 500px */
@media(max-width:500px){
    .home-cards{
        grid-template-columns: 1fr;
    }
    .lux-candle .content .btn-lux{
       padding-left: 10px;
    }
}
